:root {
  /* grayscale */
  --black: #313338;
  --gray-500: #42444a;
  --gray-400: #5a5d64;
  --gray-300: #7c7f86;
  --gray-200: #b0b3bc;
  --gray-100: #d9dbe0;
  --gray-50: #f6f6f6;
  --white: #fff;

  /* color */
  --primary: var(--black);
  --gray: var(--gray-100);
  --bg: var(--gray-50);
  --error-text: #e51010;
  --error-bg: #fdefef;

  --MINT: #b6cece;
  --SKY: #b6c8d9;
  --BLUE: #8f9eb5;
  --VIOLET: #a09fb9;
  --PINK: #edc9df;
  --GREEN: #a0b99c;
  --YELLOW: #f8e49d;
  --ORANGE: #eac0a8;
  --RED: #e89c9c;
  --BROWN: #807575;

  /* blue */
  --red-500: #5f6d84;
  --red-400: #74859f;
  --red-300: #8f9eb5;
  --red-200: #aeb9ca;
  --red-100: #cfd8e5;
  --red-0: #f3f6fa;

  /* blue */
  --blue-500: #5f6d84;
  --blue-400: #74859f;
  --blue-300: #8f9eb5;
  --blue-200: #aeb9ca;
  --blue-100: #cfd8e5;
  --blue-0: #f3f6fa;
}

* {
  color: var(--black);
}

/* text */
.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-gray-50 {
  color: var(--gray-50);
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-gray-200 {
  color: var(--gray-200);
}

.text-gray-300 {
  color: var(--gray-300);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-primary {
  color: var(--primary);
}

/* bg */
.bg {
  background-color: var(--bg);
}

.bg-light {
  background-color: var(--gray-100);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-white {
  background-color: var(--white);
}

.bg-gray {
  background-color: var(--gray);
}

.bg-gray-0 {
  background-color: var(--gray-0);
}

.bg-gray-50 {
  background-color: var(--gray-50);
}

.bg-gray-100 {
  background-color: var(--gray-100);
}

.bg-gray-200 {
  background-color: var(--gray-200);
}

.bg-gray-300 {
  background-color: var(--gray-300);
}

.bg-gray-400 {
  background-color: var(--gray-400);
}

.bg-gray-500 {
  background-color: var(--gray-500);
}


/* bg-blue */
.bg-red-0 {
  background-color: var(--red-0);
}

.bg-red-100 {
  background-color: var(--red-100);
}

.bg-red-200 {
  background-color: var(--red-200);
}

.bg-red-300 {
  background-color: var(--red-300);
}

.bg-red-400 {
  background-color: var(--red-400);
}

.bg-red-500 {
  background-color: var(--red-500);
}

/* bg-blue */
.bg-blue-0 {
  background-color: var(--blue-0);
}

.bg-blue-100 {
  background-color: var(--blue-100);
}

.bg-blue-200 {
  background-color: var(--blue-200);
}

.bg-blue-300 {
  background-color: var(--blue-300);
}

.bg-blue-400 {
  background-color: var(--blue-400);
}

.bg-blue-500 {
  background-color: var(--blue-500);
}

/* buttons */
.button-primary {
  color: var(--white);
  background-color: var(--primary);
}

.button-primary * {
  fill: var(--white);
}

.button-extra {
  color: var(--primary);
  background-color: transparent;
}

.button-extra * {
  fill: var(--primary);
}

.button-extra-black {
  color: var(--black);
  background-color: transparent;
}

.button-extra-black * {
  fill: var(--black);
}

.button-white {
  color: var(--primary);
  background-color: var(--white);
}

.button-white * {
  fill: var(--primary);
}

.buttons-gray {
  color: var(--white);
  background-color: var(--gray);
}

.button-gray * {
  fill: var(--white);
}

/* fill */
.fill-black {
  fill: var(--black);
}

.fill-white {
  fill: var(--white);
}

.fill-gray-50 {
  fill: var(--gray-50);
}

.fill-gray-100 {
  fill: var(--gray-100);
}

.fill-gray-200 {
  fill: var(--gray-200);
}

.fill-gray-300 {
  fill: var(--gray-300);
}

.fill-gray-400 {
  fill: var(--gray-400);
}

.fill-gray-500 {
  fill: var(--gray-500);
}

.fill-primary {
  fill: var(--primary);
}
