:root {
  /* grayscale */
  --black: #313338;
  --gray-500: #42444a;
  --gray-400: #5a5d64;
  --gray-300: #7c7f86;
  --gray-200: #b0b3bc;
  --gray-100: #d9dbe0;
  --gray-50: #f6f6f6;
  --white: #fff;

  /* color */
  --primary: var(--black);
  --gray: var(--gray-100);
  --background: var(--gray-50);
}

* {
  color: var(--black);
}

/* text */
.text-black {
  color: var(--black);
}

.text-white {
  color: var(--white);
}

.text-gray-50 {
  color: var(--gray-50);
}

.text-gray-100 {
  color: var(--gray-100);
}

.text-gray-200 {
  color: var(--gray-200);
}

.text-gray-300 {
  color: var(--gray-300);
}

.text-gray-400 {
  color: var(--gray-400);
}

.text-gray-500 {
  color: var(--gray-500);
}

.text-primary {
  color: var(--primary);
}

/* bg */
.bg {
  background-color: var(--background);
}

.bg-light {
  background-color: var(--gray-100);
}

.bg-primary {
  background-color: var(--primary);
}

.bg-white {
  background-color: var(--white);
}

/* buttons */
.button-primary {
  color: var(--white);
  background-color: var(--primary);
}

.button-primary * {
  fill: var(--white);
}

.button-extra {
  color: var(--primary);
  background-color: transparent;
}

.button-extra * {
  fill: var(--primary);
}

.button-extra-black {
  color: var(--black);
  background-color: transparent;
}

.button-extra-black * {
  fill: var(--black);
}

.button-white {
  color: var(--primary);
  background-color: var(--white);
}

.button-white * {
  fill: var(--primary);
}

.buttons-gray {
  color: var(--white);
  background-color: var(--gray);
}

.button-gray * {
  fill: var(--white);
}

/* fill */
.fill-black {
  fill: var(--black);
}

.fill-white {
  fill: var(--white);
}

.fill-gray-50 {
  fill: var(--gray-50);
}

.fill-gray-100 {
  fill: var(--gray-100);
}

.fill-gray-200 {
  fill: var(--gray-200);
}

.fill-gray-300 {
  fill: var(--gray-300);
}

.fill-gray-400 {
  fill: var(--gray-400);
}

.fill-gray-500 {
  fill: var(--gray-500);
}

.fill-primary {
  fill: var(--primary);
}
