@import url('https://cdn.jsdelivr.net/gh/sunn-us/SUIT/fonts/variable/woff2/SUIT-Variable.css');

:root {
  /* layout */
  --nav-h: 5.875rem;

  /* font-size */
  --text-3xxl: 6rem;
  --text-xxl: 2.75rem; /* 44px */
  --text-3xl: 2rem; /* 32px */
  --text-2xl: 1.75rem; /* 28px */
  --text-xl: 1.5rem; /* 24px */
  --text-lg: 1.25rem; /* 20px */
  --text-root: 1rem; /* 16px */
  --text-md: 0.875rem; /* 14px */
  --text-sm: 0.75rem; /* 12px */
  --text-xs: 0.625rem; /* 10px */
  --text-2xs: 0.5rem; /* 8px */
  --text-3xs: 0.375rem; /* 6px */
  --text-xxs: 0.25rem; /* 4px */

  /* round */
  --round-lg: 1rem;
  --round-md: 0.5rem;
  --round-sm: 0.375rem;
  --round-xs: 0.25rem;

  /* circle, square size */
  --size-3xxl: 18rem;
  --size-2xxl: 10rem;
  --size-xxl: 5.25rem;
  --size-2xl: 3rem;
  --size-xl: 2.75rem;
  --size-lg: 2.5rem;
  --size-md: 2rem;
  --size-sm: 1.5rem;
  --size-xs: 18px;

  /* velocity */
  --fast-in: cubic-bezier(0.4, 0.39, 0.08, 1.02);
  --slow-in: cubic-bezier(0.56, -0.01, 0.56, 0.89);
}

html {
  font-size: 16px;
}

/* layout */
body {
  height: 100%;
  font-family: 'SUIT Variable', SUIT, -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  width: 100vw;
  height: calc(100vh - var(--nav-h));
}

nav {
  height: var(--nav-h);
}

/* heading */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 800;
}

h1 {
  font-size: var(--text-3xl);
}

h2 {
  font-size: var(--text-2xl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-root);
}

h6 {
  font-size: var(--text-md);
}

/* classes - font */
.text-3xxl {
  font-size: var(--text-3xxl);
}

.text-xxl {
  font-size: var(--text-xxl);
}

.text-3xl {
  font-size: var(--text-3xl);
}

.text-2xl {
  font-size: var(--text-2xl);
}

.text-xl {
  font-size: var(--text-xl);
}

.text-lg {
  font-size: var(--text-lg);
}

.text-root {
  font-size: var(--text-root);
}

.text-md {
  font-size: var(--text-md);
}

.text-sm {
  font-size: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

.text-2xs {
  font-size: var(--text-2xs);
}

.text-3xs {
  font-size: var(--text-3xs);
}

.text-xxs {
  font-size: var(--text-xxs);
}

.font-bold {
  font-weight: 700;
}

/* font-weight */
.thin {
  font-weight: 100;
}

.extra-light {
  font-weight: 200;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.semi-bold {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.extra-bold {
  font-weight: 800;
}

.heavy {
  font-weight: 900;
}

/* classes - size */
.size-3xxl {
  width: var(--size-3xxl);
  height: var(--size-3xxl);
}

.size-2xxl {
  width: var(--size-2xxl);
  height: var(--size-2xxl);
}

.size-xxl {
  width: var(--size-xxl);
  height: var(--size-xxl);
}

.size-2xl {
  width: var(--size-2xl);
  height: var(--size-2xl);
}

.size-xl {
  width: var(--size-xl);
  height: var(--size-xl);
}

.size-lg {
  width: var(--size-lg);
  height: var(--size-lg);
}

.size-md {
  width: var(--size-md);
  height: var(--size-md);
}

.size-sm {
  width: var(--size-sm);
  height: var(--size-sm);
}

.size-xs {
  width: var(--size-xs);
  height: var(--size-xs);
}

/* margin */
.mx-auto {
  margin: 0 auto;
}

.mx-md {
  margin: 0 1rem;
}

.my-md {
  margin: 1rem 0;
}

.mb-md {
  margin-bottom: 1rem;
}

.mb-sm {
  margin-bottom: 0.5rem;
}

.mb-xs {
  margin-bottom: 0.25rem;
}

.mt-lg {
  margin-top: 1.25rem;
}

.mt-md {
  margin-top: 1rem;
}

.mt-sm {
  margin-top: 0.5rem;
}

.mt-xs {
  margin-top: 0.25rem;
}

/* width */
.w-100 {
  width: 100%;
}

.w-85 {
  width: 85%;
}

.w-80 {
  width: 80%;
}

.w-70 {
  width: 70%;
}

.w-50 {
  width: 50%;
}

/* rounded */
.circle {
  border-radius: 100%;
}

.square {
  border-radius: 0%;
}

.round-lg {
  border-radius: var(--round-lg);
}

.round-md {
  border-radius: var(--round-md);
}

.round-sm {
  border-radius: var(--round-sm);
}

.round-xs {
  border-radius: var(--round-xs);
}

/* classes - flex */
.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-j-center {
  display: flex;
  justify-content: center;
}

.flex-i-center {
  display: flex;
  align-items: center;
}

.gap-3xl {
  gap: 3rem;
}

.gap-2xl {
  gap: 2.5rem;
}

.gap-xl {
  gap: 2rem;
}

.gap-lg {
  gap: 1.5rem;
}

.gap-md {
  gap: 1rem;
}

.gap-sm {
  gap: 0.5rem;
}

.gap-xs {
  gap: 0.25rem;
}

.shrink-0 {
  flex-shrink: 0;
}

.j-center {
  justify-content: center;
}

.j-start {
  justify-content: start;
}

.j-end {
  justify-content: end;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.j-evenly {
  justify-content: space-evenly;
}

.i-center {
  align-items: center;
}

.i-start {
  align-items: start;
}

.i-end {
  align-items: end;
}

/* classes - grid */
.grid-cols-3 {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-cols-2 {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

/* word */
.break-word {
  word-break: break-word;
}

/* 공용 css */
.wrapper {
  width: 80vw;
  height: 80vh;
  margin: 0 auto;
}

/*스크롤 기능은 살리고 스크롤바는 제거*/
.scroll {
  overflow-y: scroll;
  -ms-overflow-style: none;
}

.scroll::-webkit-scrollbar {
  display: none;
}

/* display */
.block {
  display: block;
}

.hide {
  display: none;
}

.opacityHalf {
  opacity: 0.5;
}
